<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="top"></div>
<div id="center">
    <table border="1" align="center" width="1000">
        <thead>
        <tr height="50">
            <td width="160" align="center">姓名</td>
            <td width="160" align="center">性别</td>
            <td width="160" align="center">民族</td>
            <td width="160" align="center">出生年月日</td>
            <td width="160" align="center">政治面貌</td>
            <td colspan="2" rowspan="4" width="200" align="center" valign="middle">
                <form action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*">
                    <br>
                    <input type="submit" align="center" value="上传" class="btn btn-success">
                </form>
                <br>
            </td>
            <td hidden></td>
        </tr>
        <tr height="50">
            <td align="center" th:text="${collect.getSName()}"></td>
            <td align="center" th:text="${collect.getGender()}==0?'女':'男'"></td>
            <td align="center" th:text="${collect.getNation()}"></td>
            <td align="center" th:text="${#dates.format(collect.getBirth(),'yyyy年MM月dd日')}"></td>
            <td align="center" th:text="${collect.getPc()}"></td>
        </tr>
        <tr height="50">
            <td colspan="2" align="center">身份证号</td>
            <td colspan="3" th:text="${collect.getDId()}"></td>
        </tr>
        <tr height="50">
            <td colspan="2" align="center">高考考生号</td>
            <td colspan="3" th:text="${collect.getGId()}"></td>
        </tr>
        </thead>
        <tbody>
        <tr height="35">
            <td colspan="2" align="center">专科毕业学校</td>
            <td width="180"></td>
            <td colspan="2" align="center">专科所学专业</td>
            <td width="180" colspan="2" th:text="${collect.getCMajor()}"></td>
        </tr>
        <tr height="35">
            <td colspan="2" align="center">本人详细通信地址</td>
            <td colspan="3" th:text="${collect.getAddr()}"></td>
            <td width="100" align="center">邮编</td>
            <td width="100" th:text="${collect.getPos()}"></td>
        </tr>
        <tr height="35">
            <td colspan="2" align="center">联系电话</td>
            <td width="180" th:text="${collect.getPerson()}"></td>
            <td colspan="2" align="center">家庭联系电话</td>
            <td width="180" colspan="2" th:text="${collect.getParent()}"></td>
        </tr>
        <tr height="35">
            <td colspan="2" align="center">专科综合测评</td>
            <td align="center">担任何种职务</td>
            <td colspan="2" align="center">受奖励情况</td>
            <td colspan="2" align="center">受纪律处分情况</td>
        </tr>
        <tr height="35">
            <td colspan="2"></td>
            <td></td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr height="35">
            <td rowspan="2" colspan="2" align="center">选拔测试成绩</td>
            <td align="center">英语</td>
            <td align="center">基础1</td>
            <td align="center">基础2</td>
            <td align="center">总分</td>
            <td colspan="2" align="center">招生专业测试名次</td>
        </tr>
        <tr height="35">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr height="70">
            <td rowspan="3" align="center" valign="middle">推荐审批情况</td>
            <td align="center" valign="middle">院系意见</td>
            <td colspan="5"></td>
        </tr>
        <tr tr height="70">
            <td align="center" valign="middle">毕业高校意见</td>
            <td colspan="5"></td>
        </tr>
        <tr tr height="70">
            <td align="center" valign="middle">招生高校 意见 </td>
            <td colspan="5"></td>
        </tr>

        </tfoot>
    </table>
</div>
<div align="center" id="foot">注：本表一式三份，推荐高校、招生高校、学生本人档案各存一份</div>

</body>
</html>