<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>南昌理工学院2020年普通高校专升本考试</title>
    <script language="JavaScript">
        i=30
        function change()
        {
            var p=document.getElementById("p");
            i--;
            p.value="阅读完成"+i
            if(i==0)
            {
                p.disabled=false
            }
            else
            {
                setTimeout("change()",1000);
            }
        }
    </script>
</head>
<body OnLoad="change()">
<div style="margin-left: 20%;margin-right: 20%">
    <h1 align="center">南昌理工学院2020年普通高校专升本考试</h1>
    <h2 align="center">疫情防控工作要求</h2>

   <p> 各位考生：                </p>
   <p> 为了做好学校2020年专升本考试疫情防控工作，确保考生安全，有关防疫要求如下：</p>
   <p> 1．无中高风险地区及重点地区旅居史的考生，入校时出示本人身份证、准考证、扫昌通码（提前注册昌通码）、测量体温，昌通码为绿码且体温低于37.3度方可入校考试。</p>
   <p> 2．有中风险地区及重点地区旅居史的考生，需提前向属地政府及学校报备，提前二天抵达南昌，在南昌做核酸检测及抗体检测。入校时出示本人身份证、核酸检测及抗体检测阴性报告、准考证，扫昌通码、测量体温，昌通码为绿码且体温低于37.3度方可入校考试。</p>
   <p> 3．有高风险地区旅居史的考生，原则上不建议来昌参加考试，如确需参加考试，需提前向学校和属地政府报备，必须按属地政府疫情防控要求，持7天内有效核酸和抗体检测阴性证明，提前14天返昌并进行集中隔离，隔离期间无任何异常情况，再次进行核酸和抗体检测阴性，经属地政府及学校同意后方可参加考试。中高风险地区和重点地区实行动态调整，为国务院发布为准。</p>
   <p> 4．有边防陆路口岸省份（广西、云南、内蒙古、黑龙江、吉林、辽宁等）的地级市和前期列入中高风险（保定市、吉林市、沈阳市等），现降为低风险区域的考生，为了安全，建议考生提供核酸检测阴性报告。</p>
   <p> 5．外地考生返昌过程中尽量避免在疫情中高风险区域停留，如有停留，时间不得超过4个小时，否则需提供3天内的核酸检测阴性证明并提前向学校报备。</p>
   <p> 6．考试期间所有考生必须佩戴口罩。7月4日上午考试结束后，一律不得离开学校，在学校食堂就餐。</p>
   <p> 7．外地考生尽量提前返昌，提前预约酒店，考试当天带好考试所需身份证、准考证等相关证件，中高风险、重点地区考生另需提供核酸和抗体检测阴性证明。我校将于7月4日考试当天早上6：30分开始在学校东大门口（南一门）进行防疫检查（测量体温、扫码、检查14天旅居史以及需要提供核酸、抗体阴性证明），请各位考生提前做好行程安排，避免影响正常考试。未通过防疫检测的考生，不得进入校园。</p>


</div>
<div align="center">
<form action="ticket" method="post">
    <input type=submit id="p" disabled>
</form>
</div>

</body>
</html>